<ion-content [fullscreen]="true">
  <ion-select label="Reservado por" (ionChange)="onContextChange($event)">
    <ion-select-option *ngFor="let user of users" value="{{user.id}}"
      >{{user.first_name}} {{user.last_name}}</ion-select-option
    >
  </ion-select>

  <ion-list>
    <ion-item *ngFor="let book of booking">
      <ion-label>
        <h2>Fecha: {{book.date}}</h2>

        <div>Hora de inicio: {{book.start_time}}</div>
        <div>Hora de finalizacion: {{book.end_time}}</div>
        <div>
          Realizada por: {{book.staff.first_name}} {{book.staff.last_name}}
        </div>
        <div>Del usuario: {{book.user.first_name}} {{book.user.last_name}}</div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
