<ion-tabs>
  <ion-tab tab="tutors">
    <div id="home-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Tutores</ion-title>
        </ion-toolbar>
      </ion-header>
      <app-tutors></app-tutors>
    </div>
  </ion-tab>
  <ion-tab tab="users">
    <div id="radio-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Usuarios</ion-title>
        </ion-toolbar>
      </ion-header>
      <app-users></app-users>
    </div>
  </ion-tab>
  <ion-tab tab="booking">
    <div id="library-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Reservas</ion-title>
        </ion-toolbar>
      </ion-header>
      <app-booking></app-booking>
    </div>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tutors">
      <ion-icon name="library"></ion-icon>
      Tutores
    </ion-tab-button>
    <ion-tab-button tab="users">
      <ion-icon name="people"></ion-icon>
      Usuarios
    </ion-tab-button>
    <ion-tab-button tab="booking">
      <ion-icon name="bookmarks"></ion-icon>
      Reservas
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
